/*Вариант 1*/

li:nth-child(n+3) a{
	color:#f70;
}
li:nth-child(n+6) a{
	color: #666;
}
li:nth-last-child(n+7) a{
	color: blue;
}
 /*transform: scaleX(-1);*/

a[href="http://maps.yandex.ru"]:after{
	content: "⇱";
	transform: scalex(-1);
	display: inline-block;
}
