div{
	width: 450px;
	background: lightpink;
	padding: 0;
	margin: 0 auto;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 4px 5px 4px #74adc9;
}
ul{
	list-style-type: none;
	padding: 0;


}

li{
	display: inline-block;
	margin: 3px 5px;
	/*font-size: 12px;*/

	/*color: #a47eef;*/
	/*padding: 5px;*/
}

li:nth-last-child(n+11):before{
	content: "« ";
	vertical-align: 0.9px;
	color:#a23cd0;
}
li:nth-child(n+11):after {
	content: " »";
	vertical-align: 0.9px;
	color:#a23cd0;
}
/*li.number:hover{
	cursor: pointer;
	background: #a23bd2;
	color: #ffffff;
}*/

.tochka{
	vertical-align: sub;
}
a{
	display: inline-block;
	color: #a23cd0;
	text-decoration: none;
	font-size: 12px;
	/*padding: 3px 5px;*/
}
.num:hover{
	background: #a23bd2;
	color: #ffffff;
}
.number{
	border: 1px solid grey;
	border-radius: 5px;
	margin: 0 3px 2px;
	/*padding: 3px 5px;*/

}
.num{
	padding: 3px 5px;
}
